<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/stylehome.css"">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  </head>
<body>
	<div class="landing-page">
      
      <div class="page-content">
	<h1> You are Logged in as : <%=name%></h1> 
	<a href="/mHome/profile">Profile</a> 
	<a href="/mHome/places">Place </a>
	
	<a href="/logout">logout</a>
	  </div>
    </div>

</body>
</html>