<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/stylelandin.css"">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  </head>
  <body>

    <div class="landing-page">
      
      <div class="page-content">

        <h1> RNAS Online Travel Agency</h1>
        <p>
          No matter where you are travelling, RNAS Tours & Travels Ltd is here to help you get the best deals in  around the world.

        </p>
        <a href="/login"> Login</a>
         <a href="/signup">Create an account</a>
      </div>
    </div>

  

  </body>
</html>
