<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/stylehome.css"">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  </head>
<body>
	<div class="landing-page">
      
      <div class="page-content">
	<h1> You are Logged in as <%=name%></h1>  

	<li> <a href="/home/profile">Profile</a> </li><br>
	<li><a href="/home/adduser">Add User</a> </li><br>
	<li><a href="/home/userlist">User List</a> </li><br>
  <li><a href="/home/tourlist">Tour List</a> </li><br>
	<li><a href="/logout">logout</a></li>

	  </div>
    </div>

</body>
</html>